@charset "utf-8";

html {
  background-color: #F4F9FF;
  height: 100%;
}

body {
  margin: 0;
  height: 100%;
}

img {
  max-width: 100%;
}

.outer {
  max-width: 1000px;
  margin: 0 auto;
}

.inner {
  max-width: 600px;
  margin: 0 auto;
}

/* ヘッダー */
.page-header__title {
  width: 160px;
  margin-top: 60px;
  margin-bottom: 15px;
}

.page-header__title img {
  display: block;
}

/* メイン */
.mainvisual {
  margin-bottom: 60px;
}

/* INDEX */
.index {
  box-sizing: border-box;
  background-color: #fff;
  height: 280px;
  padding: 30px 0;
  margin-bottom: 60px;
}

.index h2 {
  font-size: 18px;
  font-weight: bold;
  color: #333;
  margin: 0;
  margin-bottom: 10px;
}

.index-item {
  margin: 0;
  padding: 0;
  padding-left: 20px;
}

.index-item li {
  font-size: 14px;
  font-weight: normal;
  color: #333;
  margin-bottom: 20px;
}

/* DETAIL */
.detail {
  margin-bottom: 100px;
}

.detail > h2 {
  font-size: 18px;
  font-weight: bold;
  color: #333;
  margin: 0;
  margin-bottom: 10px;
}

.detail-content {
  display: flex;
}

.detail-content img {
  width: 270px;
  margin-right: 60px;
}

.detail-content__Ex h2 {
  font-size: 18px;
  font-weight: bold;
  color: #333;
  margin: 0;
  margin-bottom: 20px;
}

.detail-item {
  display: flex;
  flex-wrap: wrap;
  border-top: 1px solid #DEDEDE;
  border-bottom: 1px solid #DEDEDE;
  margin: 0;
  margin-bottom: 25px;
  padding: 15px 0;
}

.detail-item dt,dd {
  font-size: 14px;
  font-weight: normal;
  color: #333;
}

.detail-item dt {
  width: 25%;
}

.detail-item dd {
  margin: 0;
  width: 75%;
}

.detail-content__Ex p {
  font-size: 14px;
  font-weight: normal;
  color: #333;
  margin: 0;
  margin-bottom: 20px;
}

.detail-content__Ex a {
  font-size: 14px;
  font-weight: normal;
  color: #333;
}

.page-footer p {
  font-size: 10px;
  font-weight: normal;
  color: #333;
  margin-bottom: 15px;
}

/* レスポンシブ */
@media screen and (max-width: 1024px) {
  .mainvisual {
    padding: 0 10px;
  }

  .inner {
    padding: 0 40px;
  }

  .index {
    height: auto;
  }

  .detail-content {
    display: block;
  }

  .detail-content img {
    width: 100%;
    margin-bottom: 20px;
  }
}






